{{#if access}}
  {{#get "posts" filter="authors:{{primary_author.slug}}+id:-{{id}}+tag:-[hash-podcast,hash-event,hash-newsletter,hash-sponsored]" include="tags,authors,tiers" limit="4"}}
    {{#if posts}}
      <section class="px-5 sm:px-6 mt-16">
        <div class="max-w-site mx-auto">
          {{!-- {{t "More from"}} {{t "See all"}} --}}
          {{> section-heading 
            section_title=(concat (t 'More from') " " ../primary_author.name)
            section_link=../primary_author.url
            section_link_text=(t 'See all')
          }}
          <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
            {{#foreach posts}}
              {{> cards/post-card-vertical
                excerpt_class="hidden"
              }}
            {{/foreach}}
          </div>
        </div>
      </section>
    {{/if}}
  {{/get}}
{{/if}}
{{#primary_author}}
  <section class="related-author">
    {{> section-heading title="About the Author"}}
    
    <div class="author-info">
      {{#if profile_image}}
        <a href="{{url}}" class="author-avatar">
          {{> image
            image_type="author"
            image_class="rounded-full"
            image_url=profile_image
            size_xs=true
            size_s=true
            size_m=true
            sizes="80px"
          }}
        </a>
      {{/if}}
      
      <div class="author-details">
        <h3><a href="{{url}}">{{name}}</a></h3>
        {{#if bio}}<p>{{bio}}</p>{{/if}}
        
        <a href="{{url}}" class="view-posts">
          View all posts
          {{> icon name="chevron-right" icon_class="size-4"}}
        </a>
      </div>
    </div>
  </section>
{{/primary_author}}
