<aside class="flex-1 flex flex-col gap-6">
  <div class="relative flex-1">
    {{> subscribe-cta}}
  </div>

  {{> banners/sidebar}}
</aside>
<aside class="sidebar">
  {{> subscribe-cta}}
  
  {{#if @site.secondary_navigation}}
    <nav class="sidebar-nav">
      <h3>Quick Links</h3>
      {{navigation type="secondary"}}
    </nav>
  {{/if}}
  
  {{#get "posts" limit="5" filter="featured:true"}}
    {{#if posts}}
      <div class="featured-posts">
        <h3>Featured Posts</h3>
        {{#foreach posts}}
          <article class="sidebar-post">
            <h4><a href="{{url}}">{{title}}</a></h4>
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time>
          </article>
        {{/foreach}}
      </div>
    {{/if}}
  {{/get}}
</aside>
